body {
  background: #dd90909a;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.slider {
  padding: 50px 0 0 0;
  margin: 0 auto;
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__prev {
  margin: 0 10px 0 0;
}

.slider__next {
  margin: 0 0 0 10px;
}

.slider__container {
  overflow: hidden;
}

.slider__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 908px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__slide {
  min-width: 250px;
  height: 200px;
  margin: 0 10px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
}

.slider__slide img {
  margin: 20px 0 0 0;
  width: 210px;
  height: 140px;
}

.btn {
  height: 30px;
  width: 30px;
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  border-radius: 50%;
  border: none;
  background-color: #eeff02;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.btn:disabled {
  opacity: 0.5;
}

.active {
  background-color: #a04633;
}

.calculator {
  margin: 0 auto;
  text-align: center;
}

.calculator-body {
  margin: 0 0 0 600px;
  text-align: center;
}

.line1 {
  display: flex;
  flex-direction: row;
}

.calculatorScreen {
  width: 173px;
  height: 50px;
  margin: 3px 0 0 0;
  background: rgb(240, 236, 236);
  border: 1px solid rgb(17, 14, 14);
  font-size: 24px;
  line-height: 40px;
}

.calculator-btn {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(17, 14, 14);
  background: rgb(230, 182, 128);
  margin: 3px 3px 3px 3px;
  font-size: 24px;
  line-height: 40px;
}