body {
  background: #dd90909a;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.slider {
  padding: 50px 0 0 0;
  margin: 0 auto;
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__prev {
    margin: 0 10px 0 0;
  }

  &__next {
    margin: 0 0 0 10px;
  }
  &__container {
    overflow: hidden;
  }

  &__track {
    display: flex;
    width: 608px;
    transition: 0.3s;
  }

  &__slide {
    min-width: 250px;
    height: 200px;
    margin: 0 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px;
    img {
      margin: 20px 0 0 0;
      width: 210px;
      height: 140px;
    }
  }
}

.btn {
  height: 30px;
  width: 30px;
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  border-radius: 50%;
  border: none;
  background-color: #eeff02;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  &:disabled {
    opacity: 0.5;
  }
}

.active {
  background-color: #a04633;
}
